<div style="background-color: #d4e5e7;">
  <div class="container">
    <div class="header__title">
      <div class="row">
        <div class="col-xs-6">
          <h1>
            Managing claims
            <br />
            <span class="highlight">made simple</span>
          </h1>
          <h4>A simple claim manager for a simple life.</h4>
        </div>
        <div class="col-xs-6 offset-md-2">
          <img
            src="https://media2.giphy.com/media/EAkvNkimgOxvIryUzE/giphy.gif?cid=ecf05e47qfmcozllpaa6bfhr7wn57frem4cmchsj1yksrel3&rid=giphy.gif&ct=s"
            class="header__img" alt="svg image" />
        </div>
      </div>
    </div>

    <hr />

    <div class="section margin-section" id="section--1" #target>
      <div class="row">
        <div class="col-xs-12 offset-md-1">
          <div class="section__title">
            <h1 class="section__description">Features</h1>
            <h3 class="section__header">
              Managing claims has never been so simple.
            </h3>
          </div>
        </div>
      </div>

    <div class="card-deck">
      <div class="card">
        <img  src="../../assets/img/simpleToUse.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Simple to use</h5>
          <p class="card-text">With a simple user interface any new members will find this app very easy to use.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/viewAllClaims.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">View all your claims</h5>
          <p class="card-text">view your claims with just a few clicks and stay up to date all time.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/TrackClaim.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Track you claim status</h5>
          <p class="card-text">Track your claim status anytime, anywhere.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

  </div>
</div>
<footer class="footer">
  <ul class="footer__nav">
    <li class="footer__item">
      <a class="footer__link" href="#">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Pricing</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Terms of Use</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Blog</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
  <div class="logo">
    <a routerLink="/home"><img
        src="https://media0.giphy.com/media/CxXiBGOPU9qHCHW2kN/giphy.gif?cid=ecf05e47nsny5yp5s004c8kfjeiph4wfu7y8mc4bwa4zekqn&rid=giphy.gif&ct=s"
        class="brand-logo" alt="brand logo" /></a>
  </div>
  <p class="footer__copyright">&copy;All rights reserved.</p>
</footer>